PORT="3000"
NODE_ENV="development"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# Session
SESSION_SECRET="dummy_session_secret"

# Dummy String to hash in case of invalid user
FALLBACK_HASH_GEN_STRING="DUMMY_PASSWORD"