PORT="3000"
NODE_ENV="development"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# Session
SESSION_SECRET="dummy_session_secret"

# Dummy argon2 hash in case of invalid user
FALLBACK_HASH="$argon2i$v=19$m=16,t=2,p=1$SWdwTzJsMDUzbDZKaE02TA$qL4AsTv8lIIct4sMHtL8oA"