<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uploader</title>
  </head>
  <body>
    <ul>
      <% folders.map(folder => { %>
        <li><a href="<%= '/my-drive/folder/' + folder.id %>"><%= folder.name %></a></li>
      <% }); %> 
      <% files.map(file => { %>
        <li><%= folder.displayName %></li>
      <% }); %> 
    </ul>
  </body>
</html>